<div class="slider" id="main-slider">    
    <div class="slider_wrapper">
        <div class="slide" id="offer_gummies">
            {% render 'announce-gummies-offer' %}
        </div>
    </div>
</div>