<!-- <svg width="48px" height="34px" viewBox="0 0 48 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Youtube</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-567.000000, -302.000000)" fill="currentColor">
            <path d="M586.044,325.269916 L586.0425,311.687742 L599.0115,318.502244 L586.044,325.269916 Z M614.52,309.334163 C614.52,309.334163 614.0505,306.003199 612.612,304.536366 C610.7865,302.610299 608.7405,302.601235 607.803,302.489448 C601.086,302 591.0105,302 591.0105,302 L590.9895,302 C590.9895,302 580.914,302 574.197,302.489448 C573.258,302.601235 571.2135,302.610299 569.3865,304.536366 C567.948,306.003199 567.48,309.334163 567.48,309.334163 C567.48,309.334163 567,313.246723 567,317.157773 L567,320.82561 C567,324.73817 567.48,328.64922 567.48,328.64922 C567.48,328.64922 567.948,331.980184 569.3865,333.447016 C571.2135,335.373084 573.612,335.312658 574.68,335.513574 C578.52,335.885191 591,336 591,336 C591,336 601.086,335.984894 607.803,335.495446 C608.7405,335.382148 610.7865,335.373084 612.612,333.447016 C614.0505,331.980184 614.52,328.64922 614.52,328.64922 C614.52,328.64922 615,324.73817 615,320.82561 L615,317.157773 C615,313.246723 614.52,309.334163 614.52,309.334163 L614.52,309.334163 Z"></path>
        </g>
    </g>
</svg> -->

<svg xmlns="http://www.w3.org/2000/svg" width="37.115" height="27.556" viewBox="0 0 37.115 27.556">
    <path fill="currentColor" id="icons8-youtube" d="M39.079,13.736a4.892,4.892,0,0,0-3.875-3.7A76.617,76.617,0,0,0,21.426,9,77.746,77.746,0,0,0,7.565,10.033a4.779,4.779,0,0,0-3.875,3.7A56.5,56.5,0,0,0,3,22.778a46.866,46.866,0,0,0,.774,9.042,4.9,4.9,0,0,0,3.875,3.7,79.213,79.213,0,0,0,13.865,1.033,79.213,79.213,0,0,0,13.865-1.033,4.783,4.783,0,0,0,3.875-3.7,66.055,66.055,0,0,0,.861-9.042A60.256,60.256,0,0,0,39.079,13.736Zm-22.3,15.069V16.75l10.5,6.028Z" transform="translate(-3 -9)"/>
</svg>
  