.chill-story-section{
    .slider_wrapper {
        width: 100%;
        height: 25%;
        overflow: hidden;
        display: flex;
        .slider_images {
            max-width: 100%;            
            height: 25%;
            list-style: none;
            display: flex;
            -webkit-animation: about_marquee 30s linear infinite ;
            -moz-animation: about_marquee 30s linear infinite ;
            -o-animation: about_marquee 30s linear infinite ;
            -ms-animation: about_marquee 30s linear infinite ;
            animation: about_marquee 30s linear infinite;
            // &:hover {
            //     -webkit-animation-play-state: paused;
            //     -moz-animation-play-state: paused;
            //     -o-animation-play-state: paused;
            //     -ms-animation-play-state: paused;
            //     animation-play-state: paused;
            // }
            @media(min-width:768px){
                max-width: 50%;
                -webkit-animation: about_marquee_tab 30s linear infinite ;
                -moz-animation: about_marquee_tab 30s linear infinite ;
                -o-animation: about_marquee_tab 30s linear infinite ;
                -ms-animation: about_marquee_tab 30s linear infinite ;
                animation: about_marquee_tab 30s linear infinite;
            }
            @media (min-width: 820px) and (max-width: 912px){
                max-width: 50%;
                -webkit-animation: about_marquee_tab2 30s linear infinite ;
                -moz-animation: about_marquee_tab2 30s linear infinite ;
                -o-animation: about_marquee_tab2 30s linear infinite ;
                -ms-animation: about_marquee_tab2 30s linear infinite ;
                animation: about_marquee_tab2 30s linear infinite;
            }
            @media(min-width:1200px){
                max-width: 25%;
                -webkit-animation: about_marquee 25s linear infinite ;
                -moz-animation: about_marquee 25s linear infinite ;
                -o-animation: about_marquee 25s linear infinite ;
                -ms-animation: about_marquee 25s linear infinite ;
                animation: about_marquee 25s linear infinite;
            }
            .list__item{
                flex-grow: 0;
                flex-shrink: 0;                
                text-align: center;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .chill-story-section-wrapper{
        display: flex;
        padding: 3rem 0;
        flex-direction: column;
        @media(min-width:1200px){
            padding: 6rem 0;
            flex-direction: row;
        }
        .chill-story-left-sec{
            width: 100%;
            @media(min-width:1200px){
                width: 40%;
            }
            h1{
                margin-bottom: 0;
            }
            p{
                    font-size: 50px !important;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom:26px;
                    @media(min-width:1200px){
                        margin-bottom: 1em
                    }
                    strong{
                        font-weight: 900;
                    }
                }
        }
        .chill-story-right-sec{
            width: 100%;
            @media(min-width:1200px){
                width: 60%;
            }
            p{
                font-size: 16px;
                font-weight: 500;
                @media(min-width:1200px){
                    font-size: 18px;
                }
            }
        }
    }
}

@keyframes about_marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-280px * 7.5));
    }
}
@keyframes about_marquee_tab{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-335px * 9));
    }
}
@keyframes about_marquee_tab2{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-328px * 9));
    }
}
@keyframes about_marquee_mobile{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-280px * 10));
    }
}


//value css here
.chill-story-value-section{
    padding: 3rem 0;
    @media(min-width:1200px){
        padding: 6rem 0;
    }
    .chill-story-value-section-wrapper{
        display: flex;
        flex-direction: column;
        @media(min-width:1200px){
            flex-direction: row;
        }
        .ourstory-value-section{
            width: 100%;
            margin-bottom: 30px;
            @media(min-width:1200px){
                width: 40%;
                margin-bottom: 0px;
            }
            .ourstory-value-pos{
                position: relative;
                .faq-index__sticky-container {
                    position: relative;
                    @media(min-width:1200px){
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
                .chill-story-value-left-sec{
                    .value-index-item{
                        .h2.title{
                            font-size: 42px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            line-height: 1;
                            margin-bottom: 20px;
                            color: #000;
                            text-align: center;
                            @media(min-width:1200px){
                                font-size: 72px;
                                text-align: inherit;
                            }                          
                            strong{
                                font-weight: 900;
                            }
                            p{
                                margin-bottom: 0;
                            }
                        }
                        .sub_heading{
                            p{
                                font-size: 16px;
                                font-family: 'Open Sans', sans-serif;
                                color: #000;
                                line-height: 1.4;
                                font-weight: 500;
                                margin-bottom: 30px;
                                text-align: center;
                                @media(min-width:1200px){
                                    width: calc(100% - 20%);
                                    font-size: 18px;
                                    text-align: inherit;
                                }
                            }
                        }
                        a{
                            display: flex;
                            align-items: stretch;
                            font-size: 20px;
                            font-family: 'Open Sans', sans-serif;
                            color: #9792E4;
                            letter-spacing: 0px;
                            font-weight: bold;
                            margin-bottom: 30px;
                            justify-content: center;
                            @media(min-width:1200px){
                                justify-content: inherit;
                            }
                            svg{
                                margin-left: 10px;
                                padding: 2px 2px 0 2px;                                                        
                                path{
                                    fill: #9792E4;
                                }
                            }
                        }
                        .svg-story-icon{
                            text-align: center;
                            @media(min-width:1200px){
                                text-align: inherit;
                            }
                            svg{
                                width: 217px;
                                height: 78px;
                            }
                        }
                    }
                }
            }
        }
        .chill-story-value-block-section{
            width: 100%;
            margin-top: 30px;
            @media(min-width:1200px){
                width: 60%;
                margin-top: 0px;
            }
        }
        .chill-story-value-block-section{
            .chill-story-value-block-list{
                .chill-story-value-block-item{
                    display: flex;
                    align-items: center;
                    grid-column-gap: 80px;
                    margin-bottom: 50px;
                    flex-direction: column;
                    @media(min-width:768px){
                        margin-bottom: 100px;
                        flex-direction: row;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .image_wrap{
                        flex: 0 1 100%;
                        padding: 0 50px;
                        margin-bottom: 30px;
                        @media(min-width:1200px){
                            flex: 0 1 40%;
                            padding: 0;
                            margin-bottom: 0px;
                        }
                    }
                    .text_wrap{
                        flex: 0 1 100%;
                        text-align: center;
                        @media(min-width:1200px){
                            flex: 0 1 60%;
                            text-align: inherit;
                        }
                        .h1.heading{
                            font-size: 42px;
                            font-weight: 400;
                            line-height: 1;
                            margin-bottom: 20px;
                            color: #000;
                            font-family: 'Open Sans', sans-serif;
                            @media(min-width:1200px){
                                font-size: 55px;
                            }
                            strong{
                                font-weight: 900;
                            }
                            p{
                                margin-bottom: 0;
                            }
                        }
                        .sub_heading.text{
                            p{
                                font-size: 16px;
                                font-family: 'Open Sans', sans-serif;
                                color: #000;
                                line-height: 1.4;
                                font-weight: 400;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// chill experience css here
.no-space {
    & .chill-experience-section{
        padding: 3rem 0;
        @media(min-width:1200px){
            padding: 6rem 0;
        }
    }
}
.chill-experience-section{
    .chill-experience-wrapper{
        .majortitle{
            font-family: 'Open Sans', sans-serif;
            color: #000;
            line-height: 1;
            font-weight: 500;
            margin-bottom: 40px;
            @media(max-width:1024px){
                font-size: 42px !important;
            }
            strong{
                font-weight: 900;
            }
        }
        .chill-videos-list{
            display: grid;
            align-items: center;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 20px;
            @media(min-width:768px){
                grid-template-columns: repeat(3, 1fr);
                flex-wrap: wrap;
            }
            .chill-videos-item{
                flex: 0 1 100%;
                position: relative;
                cursor: pointer;
                width: 100%;
                margin-bottom: 20px;
                @media(min-width:768px){
                    flex: 0 1 32%;
                }
                &::after{
                    content: '';
                    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
                    position: absolute;
                    bottom: 0;
                    z-index: 9;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
                .video_content {
                    position: relative;
                    padding-bottom: 125%;
                    overflow: hidden;
                    border-radius: 8px;
                }
                .video_overlay_image {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    .play_overlay{
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 99;
                        width: 65px;
                        height: 65px;
                        display: none;
                        svg{
                            width: 65px;
                            height: 65px;
                            circle{
                                fill: #9792E4;
                                opacity: 1;
                            }
                        }
                    }
                    .video_image_container{
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                            object-fit: cover;
                        }
                    }
                }
                .video-detail-container{
                    position: absolute;
                    bottom: 0;
                    z-index: 99;
                    padding: 20px;
                    width: 100%;
                    .video_details{
                        color: #fff;
                        .video-heading{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 20px;
                            font-weight: 800;
                            margin-bottom: 6px;
                            line-height: 1.4;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            @media(min-width:1200px){
                                font-size: 30px;
                            }
                        }
                        .video_subHeading{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            margin-bottom: 26px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            p{
                                margin-bottom: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        .video_details_wrapper{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .video_type, .video-length{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}