.container.cf{
    max-width: 100%;
    margin: 0 !important;
    padding: 0;
    .account-section{
        max-width: 100vw;
        background: #F2F2F3;
        .account_banner{
            background: url('https://cdn.shopify.com/s/files/1/0536/9115/4590/files/Account-Banner-001.jpg?v=1665139726');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            background-position: center center;
            // height: 240px;
            align-items: center;
            .account_banner_text{
                display: flex;
                justify-content: space-between;
                padding: 60px 4.625rem 7.313rem 4.625rem ;
                align-items: center;
                @media (max-width: 1440px){
                    padding: 60px 40px 7.313rem 40px;
                }
                .customer_name{
                    font-size: 36px;
                    font-weight: 800;
                    text-transform: capitalize;
                    color: #fff;
                }
                .logout_btn{
                    padding: 9px 45px;
                    font-size: 16px;
                    font-weight: bold;
                    background: #fff;
                    text-align: center;
                    border-radius: 30px;
                    text-transform: uppercase;
                    color: #FFAC9A;
                    border: 1px solid #FFAC9A;
                    cursor: pointer;
                }
            }
        }
        @media (max-width: 1024px){
            .account_banner{
                height: 14.063rem;
                .account_banner_text{
                    padding: 60px 40px;
                }
            }
        }
        @media(max-width: 768px){
            .account_banner{
                height: 7.813rem;
                .account_banner_text{
                    padding: 30px 20px 60px 20px !important;
                    .customer_name{
                        font-size: 24px !important;
                    }
                    .logout_btn{
                        padding: 9px 20px !important;
                    }
                }
            }
        }
        .account_content{
            display: flex;
            // gap: 16px;
            padding-bottom: 100px;
            .account_sidebar{
                margin: -90px 16px 0 4.625rem;
                // width: 370px;
                flex-basis: 40%;
                max-width: 23.188rem;
                // height: 100vh;
                @media (max-width: 400px){
                    margin: -30px 30px 4.625rem !important;
                }
                @media (max-width: 768px){
                    margin: -30px auto 4.625rem;
                    flex-basis: 100%;
                    width: 100%;
                    max-width: 95%;
                }
                @media (min-width: 769px) and (max-width: 1024px){
                    // width: 100%;
                    margin: -70px 40px;
                    flex-basis: 100%;
                    max-width: 100%;
                }
                @media (min-width: 1025px) and (max-width: 1440px){
                    margin: -90px 16px 0 40px;
                }
                // @media (min-width: 768px) and (max-width: 1178px){
                //     margin: -90px 0 0 4%;
                // }
                
                .sidebar_content{
                    margin: 0;
                    padding: 0 0 10% 0;
                    background: #fff;
                    border: 1px solid #E6E6F1;
                    border-radius: 4px;
                    .sidebar_element{
                        list-style: none;
                        padding: 30px;
                        border-bottom: 1px solid #F2F2F3;
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                        svg{
                            &:first-child{
                                display: none;
                            }
                            margin-top: 2%;
                            margin-right: 20px;
                            @media (max-width: 1200px){
                                margin-top: 0;
                                margin-right: 10px;
                            }
                        }
                        &:hover{
                            border-left: 2px solid #6EC59F;
                            font-weight: 800;
                        }
                        .active{
                            font-weight: 800;
                        }
                        @media (max-width: 1200px){
                            padding: 30px 20px !important;
                        }
                    }

                    .sidebar_element.active{
                        display: block;
                        font-weight: 800;
                        border-left: 2px solid #6EC59F;
                    }
                    
                    .sidebar_help{
                        list-style: none;
                        padding: 14.063rem 30px 20px;
                        font-size: 16px;
                        text-transform: uppercase;
                        text-align: left;
                        
                        svg{
                            &:first-child{
                                display: none;
                            }
                            margin-right: 20px;
                        }
                        a{
                            text-decoration: underline;
                            font-weight: 800;
                        }
                        @media (max-width: 768px){
                            padding: 14.063rem 6px 20px;
                            text-align: center;
                            svg{
                                margin-right: 10px;
                            }
                        }
                        @media (min-width: 769px) and (max-width: 1200px){
                            padding: 14.063rem 27px 20px;
                        }
                    }
                }
            }
            .account_order_details, .account_addresses, .order_details, .account_details{
                margin: -90px 4.625rem 0 0;
                width: 100%;
                background: #fff;
                border-radius: 4px;
                border: 1px solid #E6E6F1;
                // max-height: 97vh;
                // overflow: auto;
                @media (max-width: 786px){
                    margin: -30px auto 0;
                    width: 94%;
                }
                @media (min-width: 789px) and (max-width: 1024px){
                    margin: -90px auto 0;
                    width: 94%;
                }
                @media (min-width: 1025px) and (max-width: 1440px){
                    margin: -90px 40px 0 0;
                }
                .account_order_details_header, .account_addresses_header, .account_details_header{
                    // position: sticky;
                    top: 0;
                    background: #fff;
                    border-bottom: 1px solid #E6E6F1;
                    z-index: 2;
                    display: flex;
                    flex-direction: row;
                    padding: 30px 40px;
                    text-transform: uppercase;
                    h1{
                        font-size: 20px;
                        font-weight: 800;
                        margin: 0;
                        display: flex;
                        gap: 20px;
                        // svg{
                        //     margin-right: 20px;
                        // }
                    }
                    @media (max-width: 1024px){
                        padding: 40px 10px;
                        h1{
                            gap: 5px;
                        }
                        .back_arrow{
                            // margin-right: 20px;
                            svg{
                                width: 18px;
                                height: 15px;
                                margin-bottom: 2px;
                                // margin-right: 5px;
                            }
                        }
                    }
                    
                }
                .action_top{
                    border-bottom: 1px solid #E6E6F1;
                    display: flex;
                    justify-content: space-between;
                    .add_address_btn{
                        // padding: 30px 40px;
                        a{
                            border: 1px solid #000;
                            border-radius: 20px;
                            font-size: 16px;
                            font-weight: bold;
                            color: #000;
                            padding: 9px 16px;
                            &:hover{
                                color: #fff;
                            }
                            @media (max-width: 340px){
                                padding: 7px 12px;
                                font-size: 10px;
                                color: #6EC59F;
                            }
                            @media (min-width: 341px) and (max-width: 428px){
                                padding: 7px 22px;
                                font-size: 10px;
                                color: #6EC59F;
                            }
                            // @media (max-width: 768px){
                            //     padding: 7px 15px;
                            //     font-size: 10px;
                            //     color: #6EC59F;
                            // }
                        }
                    }
                    @media (min-width: 789px) and (max-width: 1024px){
                        gap: 20px;
                    }
                }
                
                table{
                    margin: 0;
                    width: 100%;
                    border: none;
                    th{
                        background: #fff;
                        padding: 20px 15px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #000;
                        border-bottom: 0;
                        // @media (min-width: 1064px) and (max-width: 1178px){
                        //     padding: 20px 10px
                        // }
                    }
                    .order_details_header{
                        padding-left: 0 !important;
                    }
                    td{
                        font-weight: bold;
                        color: #000;
                        padding: 20px 15px;
                        // @media (min-width: 1064px) and (max-width: 1178px){
                        //     padding: 20px 10px
                        // }
                    }
                    .order_description{
                        max-width: 14rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @media (max-width: 1440px){
                            max-width: 10.313rem;
                        }
                        @media (max-width: 1024px){
                            max-width: 11.25rem;
                            max-width: 7.5rem;
                        }
                        // @media (min-width: 641px) and (max-width: 1178px){
                        //     max-width: 120px;
                        // }
                    }
                    .order_details_btn{
                        button{
                            border: 1px solid #707070;
                            border-radius: 20px;
                            background: #fff;
                            padding: 9px 9px;
                            width: 75%;
                            &:hover{
                                background: #676869;
                                a{
                                    color: #fff;
                                }
                            }
                            a{
                                font-size: 14px;
                                font-weight: bold;
                                
                            }
                        }
                        @media (min-width: 1064px) and (max-width: 1178px){
                            button{
                                padding: 7px 7px;
                                a{
                                    font-size: 12px; 
                                }
                            }
                        }
                    }
                }
                .customer_account_address{
                    border-bottom: 1px solid #E6E6F1;
                    padding: 30px 40px;
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;
                    position: relative;
                    margin-bottom: 0;
                }
                .address_actions{
                    padding-top: 40px;
                    .action_edit, .action_delete{
                        font-size: 18px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                    .action_delete{
                        margin-left: 15px;
                    }
                    @media (max-width: 1024px){
                        padding-top: 0;
                    }
                }
                .default_display{
                    svg{
                        fill: #9792E4
                    }
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 30px 40px;
                    @media (max-width: 768px){
                        position: relative;
                        padding: 20px 0;
                        svg{
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
                .order_details_title{
                    display: flex;
                    justify-content: space-between;
                    padding: 30px 40px;
                    border-bottom: 1px solid #E6E6F1;
                    h1{
                        a{
                            svg{
                                margin-right: 5px;
                                width: 9px;
                                height: 15px;
                            }
                        }
                        
                        padding: 0;
                        font-size: 20px;
                        font-weight: 800;
                        margin: auto 0;
                    }
                    .view_receipt_btn{
                        border: 1px solid #000;
                        border-radius: 20px;
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 9px 15px;
                        color: #000;
                        &:hover{
                            color: #fff !important;
                        }
                    }
                    @media (max-width: 768px) {
                        padding: 40px 20px;
                        h1{
                            font-size: 16px;
                        }
                        .view_receipt_btn{
                            font-size: 14px;
                            padding: 7px 15px;
                            color: #6EC59F;
                        }
                    }
                }
                .order_details_block{
                    overflow: auto;
                    .order_details_wrapper{
                        min-width: 790px;
                        display: flex;
                        justify-content: space-between;
                        padding: 30px 90px 30px 40px;
                        color: #000;
                        border-bottom: 1px solid #E6E6F1;
                        @media (max-width: 1024px){
                            padding: 30px 20px;
                        }
                        .details_title{
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                        .details_data{
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                    
                }
                .order_details_table{
                    // padding: 30px 40px;
                    overflow: auto;
                    scroll-behavior: smooth;
                    .order_details_table_wrapper{
                        min-width: 790px;
                        @media(max-width: 768px){
                            min-width: 39.188rem;
                        }
                        @media (min-width: 767px) and (max-width: 1023px){
                            min-width: 100%;
                        }
                        .product_image{
                            display: flex;
                            // gap: 20px;
                            
                            img{
                                border: 1px solid #D0D0D0;
                                border-radius: 2px;
                                margin-right: 20px;
                            }
                            .product_info_details{
                                display: flex;
                                flex-direction: column;
                                margin: 13px 0;
                                .product_item_title{
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: #000;
                                    margin: 0;
                                    flex-basis: 50%;
                                }
                                .product_item_variant{
                                    font-size: 16px;
                                    font-weight: normal;
                                    color: #000;
                                    margin: 0;
                                    flex-basis: 50%;
                                }
                                 td{
                                    border-top: none !important;
                                 }
                                    th, td{
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    th{
                                        border: 0;
                                    }
                                    td{
                                        padding: 30px 40px !important;
                                    }
                                
                                
                            }
                        }
                        .block_price{
                            font-size: 20px;
                            font-weight: 600 !important;
                        }
                        .block_quantity, .block_subtotal{
                            h5{
                                font-size: 14px;
                                font-weight: 600 !important;
                                text-transform: capitalize;
                                margin-bottom: 0!important;
                            }
                            p{
                                font-size: 20px;
                                font-weight: 600 !important;
                            }
                        }
                    }
                    
                }
                .account_details_form{
                    padding: 40px;
                    @media (max-width: 768px){
                        padding: 20px 10px 40px 10px;
                    }
                    label{
                        color: #000;
                    }
                    .account_name{
                        width: 100%;
                        display: flex;
                        // gap: 26px;
                        .account_firstname, .account_lastname{
                            flex-basis: 50%;
                            margin-right: 26px;
                            input{
                                width: 100%;
                                border: 1px solid #D0D0D0;
                                border-radius: 50px;
                                color: #000;
                            }
                        }
                        @media (max-width: 768px){
                            flex-direction: column;
                        }
                    }
                    .account_email{
                        margin-top: 20px;
                        input{
                            margin: 0;
                            width: 100%;
                            border: 1px solid #D0D0D0;
                            border-radius: 50px;
                        }
                    }
                    .button_div{
                        display: flex;
                        width: 100%;
                        gap: 10px;
                        margin-top: 30px;
                        .account_update, .acc_reset_password{
                            width: 16.25rem;
                            padding: 18px;
                            border-radius: 50px;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 800;
                            @media (max-width: 1024px){
                                width: 100%;
                            }
                        }
                        .account_update{
                            background: #6EC59F;
                            border: 1px solid #6EC59F;
                            color: #fff
                        }
                        .acc_reset_password{
                            background: #fff;
                            border: 1px solid #FFAC9A;
                            color: #FFAC9A;
                        }
                        @media (max-width: 768px){
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
.form_div, .add_new_form_div{
    display: block;
    // margin: -90px 4.625rem 0 4.625rem;
    margin: -90px 40px 0 0;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #E6E6F1;
    @media (max-width: 768px){
        margin: -30px 10px 0 10px;
    }
    @media (min-width: 769px) and (max-width: 1023px){
        margin: -90px auto 0;
        width: 94%;
    }
    h1{
        font-size: 20px;
        font-weight: 800;
        padding: 30px 40px;
        margin: 0;
        border-bottom: 1px solid #E6E6F1;
        display: flex;
        // gap: 20px;
        svg{
            width: 12px;
            height: 16px;
            margin-right: 20px;
        }
        @media (max-width: 1024px){
            padding: 40px 20px;
        }
    }
    .edit_address, .new_address{
        margin: 0;
        width: 100%;
        .edit_form_wrapper, .new_form_wrapper{
            padding: 30px 40px;
            @media (max-width: 768px){
                padding: 20px 10px 40px;
            }
            .edit_group, .new_group{
                display: flex;
                flex-direction: row;
                // gap: 15px;
                @media (max-width: 768px){
                    flex-direction: column;
                }
                .input-row{
                    flex-basis: 50%;
                    margin-right: 15px;
                    label{
                        color: #000;
                        font-size: 16px;
                        input[type=checkbox]{
                            width: 17px;
                            height: 17px;
                        }
                    }
                    input{
                        border: 1px solid #D0D0D0;
                        border-radius: 50px;
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 15px 20px;
                    }
                    
                    select{
                        -webkit-appearance: none !important;
                        -moz-appearance: none !important;
                        height: 52px;
                        width: 100%;
                        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
                        background-position: 100%;
                        background-repeat: no-repeat;
                        // padding: 0.5rem;
                        border: 1px solid #D0D0D0;
                        border-radius: 50px;
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 0 20px;
                    }
                }
            }
            .input-row{
                flex-basis: 50%;
                margin-right: 15px;
                label{
                    font-size: 16px;
                    color: #000;
                }
            }
            .action_bottom{
                display: flex;
                // gap: 10px;
                @media (max-width: 768px){
                    flex-direction: column;
                }
                .update_btn, .delete_btn, .add_btn{
                    width: 15.938rem;
                    border-radius: 50px;
                    padding: 18px;
                    font-size: 18px;
                    font-weight: 800;
                    margin-right: 10px;
                    @media (max-width: 768px){
                        width: 100%;
                    }
                }
                .update_btn, .add_btn{
                    background: #6EC59F;
                    color: #fff;
                    border: none;
                }
                .delete_btn{
                    background: transparent;
                    color: #FFAC9A;
                    border: 1px solid #FFAC9A;;
                }
            }
        }
    }
}
.overlay_delete {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.7);
    .reset_password_popup_block, .delete_popup_block{
        background: #fff;
        width: 28.625rem;
        // top: 30%;
        // position: absolute;
        margin: auto;
        margin-top: 10%;
        // left: 33%;
        padding: 30px 40px;
        @media (max-width: 768px){
            width: 85%;
            padding: 30px 10px;
            left: 7%;
            margin-top: 70%;
        }
        .template_header{
            display: flex;
            justify-content: space-between;
            h1{
                font-size: 20px;
                font-weight: 800;
            }
            svg{
                cursor: pointer;
            }
        }
        #enter_email{
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 20px;
                color: #000;
            }
            input{
                border: 1px solid #707070;
                border-radius: 60px;
            }
        }
        .action_bottom{
            .recover_password_btn, .delete_btn{
                width: 100%;
                background: #6EC59F;
                border: 1px solid #6EC59F;
                border-radius: 60px;
                padding: 12px;
                font-size: 20px;
                font-weight: 800; 
                text-transform: uppercase;  
            }
            p{
                text-align: center;
                // margin-top: 20px;
                color: #000;
                margin: 20px;
            }
            .delete_text{
                margin: 20px 0;
                text-align: left;
            }
            .delete_cancel_btn{
                width: 100%;
                background: transparent;
                border: 1px solid #707070;
                border-radius: 60px;
                color: #000;
                padding: 12px;
                font-size: 20px;
                font-weight: 800; 
                margin-top: 16px;
                text-transform: uppercase;
            }
        }
    }
    
}