.desktop{
    display: block;
    @media (max-width: 1023px){
        display: none;
    }
}
.mobile{
    display: none;
    @media (max-width: 1023px){
        display: block;
    }
}
.banner_wrapper{ 
    max-width: 100%;
    height: 44.5rem;
    position: relative;
    @media (max-width: 375px){
        height: 25.125rem !important;
        background-position: center right 7% !important;
    }
    @media (max-width: 640px) {
        width: 100%;
        height: 29.125rem;
        background-position: bottom 10% right 8% !important;
    }
    @media (min-width: 641px) and (max-width: 1023px) {
        height: 29.125rem;
    }
    @media (min-width: 1024px) and (max-width: 1130px){
        background-position: center right 14% !important;
    }
    .banner_text{
        width: 44%;
        height: 16.125rem;
        margin: auto 43px;
        position: absolute;
        top: 30%;
        p{
            font-family: 'Open Sans', regular;
            line-height: 1;
            margin: 0;
            text-transform: none;
            strong {
                font-weight: 800;
            }
        }
        @media (max-width: 640px) {
            width: 90% !important;
            height: 16.125rem;
            margin: 1.875rem 1.25rem;
            position: absolute;
            top: 100%;
            p{
                font-family: 'Open Sans', regular;
                line-height: 1.2;
                margin: 0;
                text-transform: none;
                strong {
                    font-weight: 800;
                }
            }
        }
        @media (min-width: 641px) and (max-width: 1023px){
            width: 40% !important;
            height: 16.125rem;
            margin: auto 50px;
            top: 33%;
            h1 p{
                color: #fff !important;
                font-size: 32px !important;
            }
            p{
                color: #fff !important;
            }
        }
    }
    .banner_btn{
        width: 13.125rem;
        margin-top: 20px; 
        border-radius: 29px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase !important;
        border: #FFAC9A;
        @media (max-width: 641px){
            margin: 0;
            margin-top: 20px;
        }
        @media (min-width: 641px) and (max-width: 1023px){
            border: #FFAC9A !important;
            background: #FFAC9A;
        }
    }
    
}

.features_wrapper{
    margin: 6.875rem 10% 0 10%;
    @media (max-width: 640px){
        margin: 13.06rem 20px 0 20px;
    }
    @media (min-width: 641px) and (max-width: 1023px){
        margin: 65px 5% 0 5%;
    }
    .features_header h1{
        text-transform: none;
        max-width: 50%;
        @media (min-width: 641px) and (max-width: 1023px){
            font-size: 32px;
            margin-bottom: 50px;
            max-width: 70%;
        }
        @media(max-width: 767px){
            max-width: 100%;
        }

    }
    .block_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8.875rem;
        margin-bottom: 40px;
        @media (max-width: 1023px){
            grid-template-columns: auto;
        }
        // @media (min-width: 641px) and (max-width: 1023px){
        //     grid-column-gap: 3.125rem;
        // }
        @media (min-width: 1024px) and (max-width: 1280px){
            grid-column-gap: 6.25rem;
        }
        .redirection_text{
            p{
                color: #000;
                font-size: 20px;
            }
            .join_btn{
                width: 15rem;
                height: 3.75rem;
                border-radius: 30px;
                border: none;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bolder;
            }
            @media (max-width: 1023px){
                margin-bottom: 40px;
            }
        }
        .feature_blocks{
            display: flex;
            // margin-bottom: 40px;
            @media (max-width: 640px){
                margin-bottom: 60px;
            }
            .feature_icon{
                margin: 40px 40px 0 0;
                svg{
                    width: 7.813rem;
                    height: 7.813rem;
                }
            }
            .feature_text{
                font-size: 16px;
                color: #000;
                font-weight: bold;
                margin: auto 0;
            }
            @media (max-width: 640px){
                flex-direction:column;
                text-align: center;
                .feature_icon{
                    margin: auto 0 20px 0;
                }
                .feature_text{
                    font-size: 18px;
                }
            }
            @media (min-width: 641px) and (max-width: 1023px){
                .feature_icon{
                    margin: auto 30px 0 0;
                    svg{
                        width: 6.25rem;
                        height: 6.25rem;
                    }
                }
                .feature_text{
                    font-size: 20px;
                }
            }
        }
    } 
}
.join_program{
    background: #F2F2F3;
    margin: 0;
    padding: 6.875rem 16.875rem;
    text-align: center;
    .join_text{
        font-size: 52px;
        color: #000;
        line-height: 1.2;
    }
    .join_btn{
        width: 15rem;
        height: 3.75rem;
        border-radius: 30px;
        border: none;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bolder;
        a{
            color: #fff;
        }
    }
    @media (max-width: 640px){
        padding: 60px 20px;
        .join_text{
            font-size: 38px;
        }
        .join_btn{
            width: 13.125rem;
            height: 3.625rem;
        }
    }
    @media (min-width: 641px) and (max-width: 1023px){
        padding: 100px 80px;
        .join_text{
            font-size: 38px;
        }
    }
}


@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(-220px * 10);
    }
}
.slider_wrapper{
    width: 100%;
    height: 43.75rem;
    overflow: hidden;
    .slider_images{
        // max-width: 37.563rem;
        max-width: 100%;
        height: 44.188rem;
        display: flex;
        animation: scroll 30s linear infinite;
        // transform: translate3d(0, 0, 0);
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    @media (max-width: 640px){
        height: 23.438rem;
        .slider_images{
            width: 19.938rem;
        }
    }
    @media (min-width: 641px) and (max-width: 1023px){
        height: 37.5rem;
        .slider_images{
            max-width: 31.25rem;
        }
    }
}