.all_brands_container{
    color: #000;
    height: 100%;
    .all_brands_title p{
        margin-bottom: 25px;
    }
    .alphabet-index{
      position: sticky;
      top: 91px;
      padding: 24px 0;
      border-bottom: 1px solid #D4D4D4;
      background: #fff;
      .alphabet_list{
        display: flex;
        gap: 20px;
        margin: 0;
        a.active{
            width: fit-content;
            color: #9792E4;
            li{
                border-bottom: 3px solid #9792E4;
            }
            
        }
        li{
            list-style: none;
            font-size: 20px;
        }
      }
    }
    .brands_wrapper{
        display: flex;
        flex-direction: column;
        .brand_by_alphabet{
            display: flex;
            flex-direction: column-reverse;
            scroll-margin-top: 182px;
            h1{
                font-size: 52px;
                font-weight: 600;
            }
            ul{
                margin: 0;
                margin: 40px 0;
                display: grid;
                grid-template-columns: auto auto auto auto auto;

                .brand{
                    grid-area: 1 / 1 / 2 / 2;
                    list-style: none;
                    font-size: 16px;
                }
            }
            &.active h1{
                color: #9792E4;
            }
            &.inactive{
                display: none;
            }
            
        }
    }
}

