.cart_page{
    max-width: 65%;
    margin: auto;
    .header_wrapper{
        align-items: center;
        .cart_title{
            display: block;
            margin-bottom: 0;
        }
    }
    
    .cart__message {
        display: flex;
        flex-flow: row nowrap;
        flex-wrap: wrap;
        align-items: center;
        margin: 12px 0;
        justify-content: flex-start;
        font-size: 14px;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        width: 50%;
        @media(max-width:767px){
            padding: 20px;
            width: 100%;
            margin: 0;
        }
        @media(min-width:1200px){
            font-size: 15px;
            margin: 0;
        }
    }
    .cart__message__success {
        display: none;
    }
    .cart__message__progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        width: 100%;
        height: 7px;
        border-radius: 6px;
        margin-top: 6px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .cart__message__default.is-hidden {
        overflow: hidden;
        visibility: hidden;                    
        display: none;
        opacity: 0;
    }
    .cart__message.is-success .cart__message__success {
        display: inline;
    }
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
        .continue-shopping_desktop{
            font-size: 16px;
            text-decoration: underline;
            padding-top: 3%;
        }
        @media (max-width: 767px){
            display: block;
            .continue-shopping_desktop{
                display: none;
            }
        }
}
@media (max-width: 1200px){
    .cart_page{
        max-width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        .header_wrapper{
            padding: 0 !important;
        }
    }
}
@media (min-width: 1023px) and (max-width: 1280px){
    .cart_page{
        max-width: 75% !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        .header_wrapper{
            padding: 0 !important;
        }
    }
}
.cart_container{
    // max-width: 984px;
    // padding: 0 20% !important;
    @media (max-width: 767px){
        padding: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .cart_title{
        font-size: 40px;
        font-weight: 800;
        text-align: left;
        .cart_item_count{
            font-size: 24px;
            font-weight: normal;
        }
        @media (max-width: 767px){
            font-size: 24px;
            padding: 20px;
            border-bottom: 1px solid #E6E6F1;
            margin-bottom: 0;
            .cart_item_count{
                font-size: 20px;
            }
        }
    }
    @media (max-width: 767px){
        .cart-item-list{
            margin: 0 0 20px !important;
        }
    }
    .cart_list_header{
        border-top: 1px solid #D3D3D3;
        .cart-item-list-heading--product, .cart-item-list-heading--price, .cart-item-list-heading--quantity, .cart-item-list-heading--total{
            color: #000;
            font-size: 18px;
            padding: 13px 0;
            text-align: left;
        }
        .cart-item-list-heading--price{
            width: 20%;
            @media (min-width: 1023px) and (max-width: 1279px){
                width: 14%;
            }
        }
        
        .cart-item-list-heading--total{
            text-align: right;
        }
        
    }
    .cart-item{
        padding: 20px;
        @media (min-width: 768px){
            padding: 20px 0;
        }
    }
    .cart-item__not-image{
        @media (max-width: 767px){
            max-width: 70%;
        }
    }
    .cart-item__description, .cart-item__price, .cart-item__quantity{
        text-align: left !important;
        margin: auto;
    }

    .cart-item__description{
        margin: auto;
        @media(min-width:1600px){
            padding-inline-end: 60px;
        }
        .cart-discount-list{
            .cart-discount{
                display: flex;
                column-gap: 2px;
            }
        }
        .cart_item_description_container{
            display: flex;
            flex-direction: column;
            height: 100%;
            flex: 1 1;
            /* margin: auto 0; */
            // margin-top: 20px;
            @media (max-width: 767px){
                margin-top: 0;
            }            
            .cart_item_title{
                font-size: 18px;
                line-height: 1.2;
                font-weight: 600;
                @media (max-width: 767px){
                    font-size: 16px;
                    font-weight: 600;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .small-text{
                .variant, .line-item-property{
                    font-size: 14px !important;
                    color: #000;
                    @media (max-width: 767px){
                        font-size: 14px !important;
                    }
                }
                .variant{
                    font-weight: 600;
                    margin: 10px 0;
                }
            }
        }
    }
    .cart-item__price, .cart-item__total{
        width: 23%;
        font-size: 20px;
        color: #000;
        margin: auto;
        @media(min-width:1600px){
            width: 21%;
        }
        @media (max-width: 767px){
            margin: 0;
        }
    }
    .cart-item__price{
        @media (max-width: 767px){
            display: none;
        }
        @media (min-width: 1023px) and (max-width: 1279px){
            width: 21%;
        }
    }
    .cart-item__total{
        font-weight: 800;
        display: flex;
        flex-direction: column;
        .struck-out-price{
            font-weight: normal;
        }
        @media (max-width: 767px){
            flex-direction: row;
            margin-top: 10.5px;
            .struck-out-price{
                margin-right: 20px;
            }
        }
    }
    .cart-item__quantity{
        .buttoned-input{
            border-radius: 25px;
            .quantity-down, .quantity-up, .cart-item__quantity-input{
                color: #000;
            }
            .cart-item__quantity-input{
                padding: 10px 0;
            }
            .visibility-hidden {
                visibility: hidden;
                pointer-events: none;
            }
        }
        @media (max-width: 767px){
            margin-top: 1em;
        }
    }
    .remove{
        text-align: center !important;
        text-decoration: underline;
        margin-top: 15px;
    }
    .checkout_wrapper{
        .checkout-note{
            label{
                font-size: 18px;
                color: #000;
            }
            .textareawrapper #note{
                border: 1px solid #D3D3D3;
                border-radius: 10px;
                height: 125px;
            }
            @media (max-width: 767px){
                padding: 0 20px;
                .textareawrapper #note{
                    width: 100% !important;
                }
            }
        }
    }
    .subtotal{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        // margin: 0 0 30px 16% !important;
        .theme-money{
            font-size: 20px;
            font-weight: 800;
        }
    }
    @media (max-width: 767px){
        .checkout-subtotal-container{
            margin-bottom: 0;
            .checkout-subtotal-container__right{
                background: #F2F2F3;
                padding: 20px !important;
                position: sticky;
                bottom: 0;
                .subtotal{
                    margin: 0 !important;
                    font-size: 24px;
                    font-weight: 600;
                    .theme-money{
                        font-size: 24px;
                        font-weight: 600 !important;
                    }
                }
            }
        }
    }
    .cart-policies{
        font-size: 16px;
        text-align: left;
        color: #000;
        @media (max-width: 767px){
            margin-top: 10px;
        }
    }
    .checkout-buttons{
        margin-top: 33px;
        .checkout_btn{
            width: 100%;
            background: #6EC59F;
            border-radius: 26px;
            color: #fff;
            font-size: 18px;
            font-weight: 800;
            text-transform: uppercase;
            border: none;
        }
    }
    .continue_shopping_div_mobile{
        text-align: center;
        .continue-shopping_mobile{
            display: none;
            @media (max-width: 767px){
                display: block;
                font-size: 14px;
                text-decoration: underline;
                color: #000;
            }
        }
    }
}
