.faq-index__heading{
    color: #000;
    font-weight: 800;
}
.faq-search__input{
    border-radius: 30px !important;
}
.faq_heading{
    font-weight: 800 !important;
}
.collapsible-tabs__heading {
    font-weight: 800 !important;
}