
/* header css here */
.pageheader{
    .logo-area{
        .logo-area__left{
            .navigation{
                ul{
                    li{
                        a{
                            font-weight: 600;
                            font-size: 18px;
                            font-family: 'Open Sans', sans-serif;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .logo-area__right{
            .logo-area__right__inner{
                height: 90px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    text-transform: uppercase;
                }
                .header-account-link, .show-search-link, .country_selector{
                    margin-inline-end: 32px;
                }
                .country_selector{
                    .dropbtn{
                        padding: 34px 0 34px 34px;
                        position: relative;
                        img{
                            position: absolute;
                            top: 38%;
                            right: 77%;
                        }
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        min-width: 100px;
                        top: 100%;
                        border: 1px solid #ddd;
                        z-index: 1;
                        cursor: pointer;
                        a {
                            float: none;
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                            img{
                                position: relative;
                                top: 6px;
                                right: 6px;
                            }
                            &:hover {
                                background-color: #ddd;
                              }
                          }
                      }
                    &:hover {
                        .feather-chevron-down{
                            transform: rotate(180deg);
                            transition: 0.5s all;
                        }
                        .dropdown-content {
                            display: block;
                        }
                    }
                    @media (max-width: 1200px){
                        display: none;
                    }
                }
                .header-account-link{
                    .header-account-link__text{
                        margin-inline-start: 10px;
                    }
                    display: none;
                    @media(min-width:1200px){
                        display: block;
                    }
                }
                .cart-link{
                    .cart-link__label{
                        margin-inline-start: 10px;
                    }
                    .cart-link__icon.custom_bag{
                        .cart-link__count{
                            background:transparent;
                            font-size: 12px;
                            top: 4px;
                            right: 4px;
                            font-weight: 600;
                            color: #9792E4;
                        }
                    }
                }
            }
        }
    }
}


/* mega menu css */
.section-header{
    &.section-header--nav-open{
        .logo-area{
            .logo-area__left{
                .logo-area__left__inner{
                    .navigation{
                        .navigation__item{
                            &.navigation__item--with-children.navigation__item--with-mega-menu{
                                a{
                                    &::after{                                       
                                        transform: rotate(0deg);
                                        transition: all 0.5s;
                                    }
                                }
                            }                        
                        }
                    }
                }
            }
        }
    }
    .logo-area{
        .logo-area__left{
            .logo-area__left__inner{
                .navigation{
                    .navigation__item{
                        &.navigation__item--with-children.navigation__item--with-mega-menu{
                            a{
                                &::after{
                                    content: '';
                                    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMy45ODEiIGhlaWdodD0iNy45OSIgdmlld0JveD0iMCAwIDEzLjk4MSA3Ljk5Ij4KICA8cGF0aCBpZD0iUGF0aF8xMDAzMyIgZGF0YS1uYW1lPSJQYXRoIDEwMDMzIiBkPSJNMTM1Ljc3OSw5My4wMDZhMSwxLDAsMCwxLS43MDctLjI5M2wtNS45OS01Ljk5YTEsMSwwLDAsMSwxLjQxNC0xLjQxNGw1LjI4Myw1LjI4Myw1LjI4My01LjI4M2ExLDEsMCwxLDEsMS40MTQsMS40MTRsLTUuOTksNS45OUExLDEsMCwwLDEsMTM1Ljc3OSw5My4wMDZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDIuNzcgOTMuMDA2KSByb3RhdGUoMTgwKSIvPgo8L3N2Zz4K');
                                    width: 14px;
                                    height: 10px;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    right: -4px;
                                    top: 42%;
                                    transform: rotate(180deg);
                                    transition: all 0.5s;
                                }
                            }
                        }                        
                    }
                }
            }
        }
    }
    .navigation{
        .navigation__item{         
            .navigation__child-tier{
                .navigation__wide-promotion{
                    padding-top: 40px;
                    @media(min-width:1200px){
                        padding-bottom: 140px;
                    }
                }
            }
        }
    }
}

#NavigationTier2-1{
    .navigation__wide-promotion{
        // @media(min-width:1200px){
        //     padding-bottom: 12rem;
        // }
        // @media(min-width:1200px){
        //     padding-bottom: 18rem;
        // }
    }
} 
.mega_menu{
    position: relative; 
    .mega_menu_wrapper{
        display: grid;
        // grid-template-columns: 1fr 4fr;
    }
    .mega_menu_title{
        @media(min-width:1200px){
            padding-right: 30px;
        }
        .main_coll_title{
            font-size: 26px;
            font-weight: bolder;
            color: #000000;
            margin-bottom: 0px;
            line-height: 1;
            padding: 20px;
            text-transform: inherit;
            font-family: 'Open Sans', sans-serif;
            @media(min-width:1200px){
                padding: 12px 16px;
                margin-bottom: 20px;
            }
        }
        a.coll_shop_link{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            padding: 12px 16px;
            margin-top: 8px;
            display: block;
            color: #000000;
            font-family: "Open Sans", sans-serif;
        }
        .menu-mega-nav{
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            @media(min-width:1200px){
                width: 20%;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -30px;
                height: 100%;
                border-right: 1px solid #E6E6F1;
            }
            .coll_shop_link{
                @media(max-width:1024px){
                    border: 1px solid #E6E6F1;
                    border-left: 0;
                    border-right: 0;
                    padding: 20px;
                }
            }
            li{
                @media(min-width:1200px){
                    margin-bottom: 8px;
                }
                // display: grid;
                // align-items: center;
                // grid-template-columns: 1fr 4fr;
                // grid-column-gap: 20px;
                &.active{
                    a.coll_heading{
                        position: relative;
                        @media(min-width:1200px){
                            border-radius: 28px;
                            background: #FFAC9A;
                        }
                        &::after{
                            @media(min-width:1200px){
                                content: '';
                                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3LjA5IiBoZWlnaHQ9IjEyLjE4IiB2aWV3Qm94PSIwIDAgNy4wOSAxMi4xOCI+CiAgPHBhdGggaWQ9IlBhdGhfMTAwMzQiIGRhdGEtbmFtZT0iUGF0aCAxMDAzNCIgZD0iTTEzNjE5LjYtMTk2MDkuODJhMSwxLDAsMCwxLS43MDctLjI5MywxLDEsMCwwLDEsMC0xLjQxNGw0LjM4My00LjM4NS00LjM4My00LjM4M2ExLDEsMCwwLDEsMC0xLjQxNCwxLDEsMCwwLDEsMS40MTQsMGw1LjA5LDUuMDlhMSwxLDAsMCwxLDAsMS40MTRsLTUuMDksNS4wOTJBMSwxLDAsMCwxLDEzNjE5LjYtMTk2MDkuODJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTM2MTguNjA0IDE5NjIyLjAwMSkiLz4KPC9zdmc+Cg==');
                                width: 10px;
                                height: 14px;
                                background-repeat: no-repeat;
                                position: absolute;
                                right: 10px;
                                top: 40%;
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                    .ruby-grid{
                        @media(min-width:1200px){
                            opacity: 1;
                            visibility: visible;
                            display: block;                        
                        }
                    }
                    
                }
                &:last-child{
                    .coll_heading{
                        border-bottom: 1px solid #E6E6F1;
                        @media(min-width:1200px){
                            border-bottom: 0;
                        }
                    }
                }
                .coll_heading{
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 20px;
                    display: block;
                    font-family: 'Open Sans', sans-serif;
                    border-top: 1px solid #E6E6F1;
                    @media(min-width:1200px){
                        border-top: 0;
                        padding: 12px 16px;
                    }
                }
                .ruby-grid{
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                    &.ruby-grid-lined{
                        width: 70rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding-left: 32px;
                        transform: translate(32%, 0);
                        z-index: 999;
                        @media(min-width:1200px){
                            width: 50rem;
                        }
                        @media(min-width:1440px){
                            width: 60rem;
                        }
                        @media(min-width:1680px){
                            width: 70rem;
                        }
                    }
                    .ruby-row{
                        display: grid;
                        grid-template-columns: repeat(4, 25%);
                        grid-column-gap: 24px;
                        .ruby-col-3{
                            flex: 0 1 25%;
                            .product_image_wrapper{
                                margin-bottom: 20px;
                                img{
                                    width: 100%;
                                    max-width: 100%;
                                    height: calc(100% - 20%);
                                    object-fit: cover;
                                }
                            }
                            .product_title{
                                h4{
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #000000;
                                    margin-bottom: 10px;
                                    font-family: 'Open Sans', sans-serif;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    width: calc(100% - 10%);
                                }
                            }
                            .vendor{
                                color: #000000;
                                font-size: 14px;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: calc(100% - 10%);
                            }
                        }
                        .view_all{
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: bold;
                            color: #6EC59F;
                            font-family: 'Open Sans', sans-serif;
                        }
                        .view_all_collection{
                            border: 4px solid #6EC59F;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: calc(100% - 20%);
                            a{
                                text-transform: uppercase;
                                font-size: 20px;
                                font-weight: bold;
                                color: #6EC59F;
                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }    
}




