
/* header css here */
.pageheader{
    .logo-area{
        .logo-area__left{
            .navigation{
                ul{
                    li{
                        a{
                            font-weight: 600;
                            font-size: 18px;
                            font-family: 'Open Sans', sans-serif;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .logo-area__right{
            .logo-area__right__inner{
                height: 90px;
                @media (max-width: 1199px){
                    height: fit-content;
                }
                a{
                    font-size: 18px;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    text-transform: uppercase;
                }
                .header-account-link, .show-search-link, .country_selector{
                    margin-inline-end: 27px;
                    @media (max-width: 767px){
                        margin-inline-start: 28px;
                        margin-inline-end: 0;
                    }
                }
                .country_selector{
                    .dropbtn{
                        padding: 34px 0 34px 34px;
                        position: relative;
                        img{
                            position: absolute;
                            top: 38%;
                            right: 77%;
                        }
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        min-width: 100px;
                        top: 100%;
                        border: 1px solid #ddd;
                        z-index: 1;
                        cursor: pointer;
                        a {
                            float: none;
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                            img{
                                position: relative;
                                top: 6px;
                                right: 6px;
                            }
                            &:hover {
                                background-color: #ddd;
                              }
                          }
                      }
                    &:hover {
                        .feather-chevron-down{
                            transform: rotate(180deg);
                            transition: 0.5s all;
                        }
                        .dropdown-content {
                            display: block;
                        }
                    }
                    @media (max-width: 1199px){
                        display: none;
                    }
                }
                .header-account-link{
                    .header-account-link__text{
                        margin-inline-start: 10px;
                    }
                    display: none;
                    @media(min-width:1200px){
                        display: block;
                    }
                }
                .cart-link{
                    .cart-link__label{
                        margin-inline-start: 10px;
                    }
                    .cart-link__icon.custom_bag{
                        .cart-link__count{
                            background:transparent;
                            font-size: 12px;
                            top: 4px;
                            right: 4px;
                            font-weight: 600;
                            color: #9792E4;
                        }
                    }
                }
            }
        }
    }
}
.main-search__suggestions{
    .h1-style{
        font-size: 52px;
    }
}
.main-search.main-search--has-results{
    .main-search__results-all-link{
        color: #000;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
    .block-inner{
        border: 1px solid #E8E8E8;
    }
    .product-info{
        .subscription_checkout_button{
            display: none;
        }
    }
}
/* mega menu css */
.section-header{
    &.section-header--nav-open{
        .logo-area{
            .logo-area__left{
                .logo-area__left__inner{
                    .navigation{
                        .navigation__item{
                            &.navigation__item--with-children.navigation__item--with-mega-menu{
                                a:hover{
                                    &::after{                                       
                                        transform: rotate(0deg);
                                        transition: all 0.5s;
                                    }
                                }
                            }                        
                        }
                    }
                }
            }
        }
    }
    .logo-area{
        .logo-area__left{
            .logo-area__left__inner{
                .logo.mobile-and-tab-only{
                    padding: 15px 0;
                    margin-left: 20px;
                    .logo__link{
                        svg{
                            height: 25px;
                        }
                    }
                }
                .navigation{
                    .navigation__item{
                        &.navigation__item--with-children.navigation__item--with-mega-menu{
                            a{
                                &::after{
                                    content: '';
                                    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMy45ODEiIGhlaWdodD0iNy45OSIgdmlld0JveD0iMCAwIDEzLjk4MSA3Ljk5Ij4KICA8cGF0aCBpZD0iUGF0aF8xMDAzMyIgZGF0YS1uYW1lPSJQYXRoIDEwMDMzIiBkPSJNMTM1Ljc3OSw5My4wMDZhMSwxLDAsMCwxLS43MDctLjI5M2wtNS45OS01Ljk5YTEsMSwwLDAsMSwxLjQxNC0xLjQxNGw1LjI4Myw1LjI4Myw1LjI4My01LjI4M2ExLDEsMCwxLDEsMS40MTQsMS40MTRsLTUuOTksNS45OUExLDEsMCwwLDEsMTM1Ljc3OSw5My4wMDZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDIuNzcgOTMuMDA2KSByb3RhdGUoMTgwKSIvPgo8L3N2Zz4K');
                                    width: 14px;
                                    height: 10px;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    right: -4px;
                                    top: 42%;
                                    transform: rotate(180deg);
                                    transition: all 0.5s;
                                }
                            }
                        }                        
                    }
                }
            }
        }
    }
    .navigation{
        .navigation__item{         
            .navigation__child-tier{
                .navigation__wide-promotion{
                    display: none;
                    padding-top: 40px;
                }
            }
        }
    }
}


.mega_menu{
    display: none;
    position: relative; 
    .mega_menu_wrapper{
        display: grid;
        // grid-template-columns: 1fr 4fr;
    }
    .mega_menu_title{
        @media(min-width:1200px){
            padding-right: 30px;
        }
        .main_coll_title{
            font-size: 26px;
            font-weight: bolder;
            color: #000000;
            margin-bottom: 0px;
            line-height: 1;
            padding: 20px;
            text-transform: inherit;
            font-family: 'Open Sans', sans-serif;
            @media(min-width:1200px){
                padding: 12px 16px;
                margin-bottom: 20px;
            }
        }
        a.coll_shop_link{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            padding: 12px 16px;
            margin-top: 8px;
            display: block;
            color: #000000;
            font-family: "Open Sans", sans-serif;
        }
        .menu-mega-nav{
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-bottom: 50px;
            @media(min-width:1200px){
                width: 20%;
                min-height: 19.313rem;
            }
            @media(min-width:1440px){
                min-height: 22.813rem;
            }
            @media(min-width:1680px){
                min-height: 25rem;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -30px;
                height: 100%;
                border-right: 1px solid #E6E6F1;
            }
            .coll_shop_link{
                // @media(max-width:1024px){
                //     border: 1px solid #E6E6F1;
                //     border-left: 0;
                //     border-right: 0;
                //     padding: 20px;
                // }
            }
            li{
                @media(min-width:1200px){
                    margin-bottom: 8px;
                }
                // display: grid;
                // align-items: center;
                // grid-template-columns: 1fr 4fr;
                // grid-column-gap: 20px;
                &.active{
                    a.coll_heading{
                        position: relative;
                        @media(min-width:1200px){
                            border-radius: 28px;
                            background: #FFAC9A;
                        }
                        &::after{
                            @media(min-width:1200px){
                                content: '';
                                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3LjA5IiBoZWlnaHQ9IjEyLjE4IiB2aWV3Qm94PSIwIDAgNy4wOSAxMi4xOCI+CiAgPHBhdGggaWQ9IlBhdGhfMTAwMzQiIGRhdGEtbmFtZT0iUGF0aCAxMDAzNCIgZD0iTTEzNjE5LjYtMTk2MDkuODJhMSwxLDAsMCwxLS43MDctLjI5MywxLDEsMCwwLDEsMC0xLjQxNGw0LjM4My00LjM4NS00LjM4My00LjM4M2ExLDEsMCwwLDEsMC0xLjQxNCwxLDEsMCwwLDEsMS40MTQsMGw1LjA5LDUuMDlhMSwxLDAsMCwxLDAsMS40MTRsLTUuMDksNS4wOTJBMSwxLDAsMCwxLDEzNjE5LjYtMTk2MDkuODJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTM2MTguNjA0IDE5NjIyLjAwMSkiLz4KPC9zdmc+Cg==');
                                width: 10px;
                                height: 14px;
                                background-repeat: no-repeat;
                                position: absolute;
                                right: 10px;
                                top: 40%;
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                    .ruby-grid{
                        @media(min-width:1200px){
                            opacity: 1;
                            visibility: visible;
                            display: block;                        
                        }
                    }
                    
                }
                &:last-child{
                    .coll_heading{
                        border-bottom: 1px solid #E6E6F1;
                        @media(min-width:1200px){
                            border-bottom: 0;
                        }
                    }
                }
                .coll_heading{
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 20px;
                    display: block;
                    font-family: 'Open Sans', sans-serif;
                    border-top: 1px solid #E6E6F1;
                    @media(min-width:1200px){
                        border-top: 0;
                        padding: 12px 16px;
                    }
                }
                .ruby-grid{
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                    &.ruby-grid-lined{
                        width: 70rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding-left: 32px;
                        transform: translate(32%, 0);
                        z-index: 999;
                        @media(min-width:1200px){
                            width: 50rem;
                        }
                        @media(min-width:1440px){
                            width: 60rem;
                        }
                        @media(min-width:1680px){
                            width: 70rem;
                        }
                    }
                    .ruby-row{
                        display: grid;
                        grid-template-columns: repeat(4, 25%);
                        grid-column-gap: 24px;
                        @media (min-width: 1300px){
                            margin-left: 32px;
                        }
                        @media (min-width: 1930px){
                            margin-left: 5%;
                        }
                        @media (min-width: 2125px){
                            margin-left: 8%;
                        }
                        .ruby-col-3{
                            flex: 0 1 25%;
                            .product_image_wrapper{
                                margin-bottom: 20px;
                                img{
                                    width: 100%;
                                    max-width: 100%;
                                    height: calc(100% - 20%);
                                    object-fit: cover;
                                }
                            }
                            .product_title{
                                h4{
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #000000;
                                    margin-bottom: 10px;
                                    font-family: 'Open Sans', sans-serif;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    width: calc(100% - 10%);
                                }
                            }
                            .vendor{
                                color: #000000;
                                font-size: 14px;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: calc(100% - 10%);
                            }
                        }
                        .view_all{
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: bold;
                            color: #6EC59F;
                            font-family: 'Open Sans', sans-serif;
                        }
                        .view_all_collection{
                            border: 4px solid #6EC59F;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: calc(100% - 20%);
                            &:hover{
                                background: #6EC59F;
                                color: #fff !important;
                            }
                            a{
                                text-transform: uppercase;
                                font-size: 20px;
                                font-weight: bold;
                                color: #6EC59F;
                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }    
}
.default_search{
    .search-suggestions__item{
        width: 20%;
        @media (max-width: 767px){
            width: 100%;
            .search-suggestions__item-row{
                flex-direction: column;
                .search-suggestions__item{
                    margin: 10px 0;
                }
            }
        }
        .product-block{
            .image-page-button--previous, .image-page-button--next{
                display: block;
                @media (max-width: 767px){
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
        .image-cont--with-secondary-image{
            .product-block__image--active{
                opacity: 1;
            }
        }
        .product-block{
            flex-basis: 25%;
            border: 1px solid #E8E8E8;
            // margin: 0 15px;
            .product-info{
                width: 85%;
                margin: 10px auto;
                .product-block__title{
                    font-size: 20px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #000000;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .vendor{
                    font-size: 14px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #000000;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
    .subscription_checkout_button, .block-inner-card-info{
        display: none;
    }
    .product-block__image-dots{
        display: none;
    }
}
#NavigationTier2-1.navigation__child-tier{
    .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-between;
        margin: unset;
        position: relative;
        // padding-bottom: 40px;
        min-height: 17rem;
        @media (max-width: 1199px){
            max-width: 100%;
        }
        .navigation__columns{
            flex-basis: 60%;
            color: #000;
            .navigation__item{
                @media (max-width: 1199px){
                    border-bottom: 1px solid #E6E6F1;
                }
            }
            .navigation__column{
                .navigation__column-title{
                    font-size: 17px !important;
                    font-weight: bold !important;
                    font-family: "Open Sans", sans-serif;
                    color: #000 !important;
                    opacity: 1 !important;
                }
                .navigation__child-tier{
                    .navigation__tier-3{
                        // max-height: 17.688rem;
                        display: flex;    
                        flex-direction: column;
                        flex-wrap: wrap;
                        column-gap: 100px;
                    }
                    .navigation__link{
                        font-size: 16px;
                        font-weight: normal;
                        color: #000;
                    }
                }
            }
            @media (min-width: 768px) and (max-width: 1199px){
                flex-direction: column;
                .navigation__column{
                    max-width: 100%;
                    .navigation__column-title{
                        width: 100%;
                    }
                }
            }
        }
        .promotion_container{
            flex-basis: 40%;
            display: flex;
            justify-content: flex-end;
            padding-top: 32px;
            padding-bottom: 32px;
            height: fit-content;
            .highlighted_promotions_container{
                display: flex;
                flex-direction: column;
                flex-basis: fit-content;
                &.flex-direction{
                    flex-direction: row;
                }
                @media (max-width: 767px){
                    &.flex-direction{
                        flex-direction: column;
                    }
                }
                @media (max-width: 320px){
                    &.flex-direction{
                        display: none;
                    }
                }
                .new_in_block{
                    flex-basis: 50%;
                    border-radius: 50%;
                    -webkit-mask-image: -webkit-radial-gradient(white, black);
                    display: flex;
                    width: 10rem;
                    min-height: 10rem;
                    overflow: hidden;
                    margin-bottom: 8px;
                    .animated_gif{
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: -1;
                        border-radius: 50%;
                        -webkit-mask-image: -webkit-radial-gradient(white, black);
                        transform: scale(1.7);
                    }
                }
                .sale_image_block{
                    flex-basis: 50%;
                    border-radius: 50%;
                    -webkit-mask-image: -webkit-radial-gradient(white, black);
                    width: 10rem;
                    display: flex;
                    min-height: 10rem;
                    overflow: hidden;
                    // margin-top: 8px;
                    .animated_gif{
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: -1;
                        border-radius: 50%;
                        -webkit-mask-image: -webkit-radial-gradient(white, black);
                        transform: scale(1.7);
                    }
                }
            }
            .br{
                display: block;
                content: " | ";
                margin: 0 54px;
                border-right: 1px solid #D6D6D6;
                -webkit-mask-image: -webkit-radial-gradient(white, black);
            }
            .promotion_banner_container{
                flex-basis: 50%;
                object-fit: cover;
                position: relative;
                max-height: 24.563rem;
                .promotion_banner_img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                .promotion_banner_text{
                    position: absolute;
                    bottom: 12%;
                    right: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    color: #fff;
                    font-weight: 700;
                    line-height: 1.2;
                    font-size: 16px;
                    // padding-bottom: 54px;
                    font-family: 'Open Sans';
                    p{
                        margin: 0;
                    }
                    p:first-child {
                        font-size: 24px;
                    }
                }
            }
        }
        .first_loop_link{
            height: fit-content;
            width: fit-content;
            margin-bottom: 40px;
            a{
                color: #83C3A1;
                gap: 10px;
                svg{
                    margin-top: 3px;
                }
            }
        }
    }
}
#NavigationTier2-1.navigation__child-tier, #NavigationTier2-1-mob.navigation__child-tier{
    .navigation__column{
        &:last-child{
            .view_all_brands{
                display: block !important;
                a{
                    color: #83C3A1 !important;
                    font-weight: 700;
                    @media (max-width: 1199px){
                        color: #9792e4;
                    }
                    .view_all_brands_arrow{
                        opacity: 1 !important;
                        position: relative;
                        right: 0;
                        path{
                            fill: #83C3A1;
                            @media (max-width: 1199px){
                                fill: #9792e4;
                            }
                        }
                    }
                }
            }
        }
    }
}
#NavigationTier2-2.navigation__child-tier{
    .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-between;
        margin: unset;
        position: relative;
        padding-left: 40px !important;
        padding-right: 40px !important;
        // padding-bottom: 40px;
        min-height: 17rem;
        @media (max-width: 1199px){
            max-width: 100%;
        }
        .navigation__columns{
            flex-basis: 100%;
            color: #000;
            .navigation__item{
                @media (max-width: 767px){
                    border-bottom: 1px solid #E6E6F1;
                }
            }
            .navigation__column{
                .navigation__column-title{
                    font-size: 17px !important;
                    font-weight: bold !important;
                    font-family: "Open Sans", sans-serif;
                    color: #000 !important;
                    opacity: 1 !important;
                }
                .navigation__child-tier{
                    .navigation__link{
                        font-size: 16px;
                        font-weight: normal;
                        color: #000;
                    }
                }
            }
            @media (min-width: 768px) and (max-width: 1199px){
                flex-direction: column;
                .navigation__column{
                    max-width: 100%;
                    .navigation__column-title{
                        width: 100%;
                    }
                }
            }
        }
        .first_loop_link{
            height: fit-content;
            width: fit-content;
            margin-bottom: 40px;
        }
    }
}
.navigation__item--with-small-menu{
    .navigation__child-tier{
        .container{
            max-width: 100%;
            .navigation__tier-2-container{
                overflow-y: auto;
                .navigation__tier-2{
                    display: flex;
                    width: 100%;
                    gap: 36px;
                    padding: 40px;
                    flex-direction: row;
                    @media (max-width: 767px){
                        flex-direction: column;
                        padding: 0;
                        .navigation__item--open{
                            .navigation__tier-3-container{
                                .navigation__tier-3{
                                    .navigation__item{
                                        border-bottom: none !important;
                                    }
                                }
                            }
                        }
                    }
    
                    .navigation__item{
                        width: 100%;
                        .navigation__link{
                            display: flex;
                            flex-direction: column;
                            .navbar_collection_link{
                                color: #6EC59F;
                                font-size: 18px;
                                font-weight: bold;
                                text-transform: uppercase;
                                margin: 20px 0;
                                svg{
                                    transform: translateY(13%);
                                    margin-left: 15px;
                                }
                                @media (max-width: 767px){
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}
.navigation__link{
    &:hover{
        svg{
            // display: block;
            opacity: 1;
            transition: opacity 250ms;
        }
    }
    svg{
        fill: #000;
        position: absolute;
        right: -25px;
        top: 12%;
        // display: none;
        opacity: 0;
        width: 16px;
        height: 16px;
        transform: translateY(13%);
        margin-left: 5px;
        margin-top: auto;
        margin-bottom: auto;
        path{
            fill: #000;
        }
    }
}
.navbar_collection_link{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    
    @media (min-width: 1200px) and (max-width: 1413px){
        font-size: 12px;
    }
}
.mobile-navigation-drawer{
    #NavigationTier2-2-mob.navigation__tier-2-container{
        .container{
            padding: 0;
            .navigation__tier-2{
                display: flex;
                flex-direction: column;
                @media (min-width: 768px) and (max-width: 1199px){
                    .featured_blocks_container{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }
                .navigation__item{
                    flex-basis: 100%;
                    padding: 20px;
                    padding: 0 !important;
                    // @media (min-width: 768px) and (max-width: 1199px){
                    //     border-bottom: none !important;
                    // }
                    .navigation__link{
                        display: flex;
                        flex-direction: column !important;
                        padding: 0;
                        .navbar_collection_link{
                            color: #000;
                            svg{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation__child-tier{
        .container{
            .navigation__columns{
                padding: 0;
                max-width: 100%;
                margin: 0;
                flex-direction: column;
                .navigation__item{
                    padding: 0;
                    max-width: 100%;
                    .navigation__column-title{
                        padding: 20px 40px;
                        opacity: 1;
                    }
                }
            }
            .promotion_container{
                padding-top: 32px;
                padding-bottom: 12px;
                display: flex;
                flex-direction: column;
                .highlighted_promotions_container{
                    display: flex;
                    gap: 35px;
                    flex-basis: fit-content;
                    flex-direction: row;
                    margin: auto;
                    @media (max-width: 320px){
                        flex-direction: column;
                    }
                    @media (min-width: 321px) and (max-width: 375px){
                        gap: 0px;
                    }
                    @media (min-width: 531px) and (max-width: 1199px){
                        margin: auto;
                    }
                    .new_in_block{
                        flex-basis: 50%;
                        border-radius: 50%;
                        -webkit-mask-image: -webkit-radial-gradient(white, black);
                        display: flex;
                        width: 130px;
                        min-height: 130px;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                        @media (min-width: 531px) and (max-width: 1199px){
                            max-width: 10rem;
                            max-height: 10rem;
                        }
                        .animated_gif{
                            pointer-events: none;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: -1;
                            border-radius: 50%;
                            -webkit-mask-image: -webkit-radial-gradient(white, black);
                            transform: scale(1.7);
                        }
                    }
                    .sale_image_block{
                        flex-basis: 50%;
                        border-radius: 50%;
                        display: flex;
                        -webkit-mask-image: -webkit-radial-gradient(white, black);
                        width: 130px;
                        min-height: 130px;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                        @media (min-width: 531px) and (max-width: 1199px){
                            max-width: 10rem;
                            max-height: 10rem;
                        }
                        .animated_gif{
                            pointer-events: none;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: -1;
                            border-radius: 50%;
                            -webkit-mask-image: -webkit-radial-gradient(white, black);
                            transform: scale(1.7);
                        }
                    }
                }
                .promotion_banner_container{
                    flex-basis: 50%;
                    object-fit: cover;
                    padding: 0 20px;
                    display: flex;
                    margin: 54px auto 0 auto;
                    width: 100%;
                    justify-content: space-between;
                    a{
                        flex-basis: 50%;
                        margin-right: 54px;
                        .promotion_banner_img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            position: relative;
                            margin: 0;
                            @media (max-width: 374px){
                                margin-right: 20px;
                            }
                        }
                    }
                    .promotion_banner_text_mobile{
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        color: #5D93C7;
                        line-height: 1.2;
                        padding-bottom: 20px;
                        margin: auto;
                        font-family: 'Open Sans';
                        text-align: left;
                        flex-basis: 50%;
                        p{
                            margin: 0;
                        }
                        p:first-child {
                            font-size: 24px;
                            font-weight: 600;
                        }
                        p strong{
                            font-size: 30px;
                            font-weight: 900;
                        }
                        @media (max-width: 375px){
                            margin: auto 0 auto 20px;
                        }
                    }
                }
            }
        }
        .navigation__wide-promotion{
            display: none;
        }
        .navigation__item--with-children{
            display: flex !important;
            .navigation__link{
                text-transform: uppercase;
                padding: 20px !important;
            }
            .navigation__children-toggle{
                padding: 20px 25px;
                @media (min-width: 768px) and (max-width: 1199px){
                    padding: 22px 25px;
                }
            }
            &.navigation__item--open{
                .navigation__children-toggle{
                    .plus-toggle-svg{
                        opacity: 0;
                    }
                    .minus-toggle-svg{
                        opacity: 1 !important;
                        display: inline-block !important;
                    }
                }
            }
        }
        .navigation__item--open{
            .navigation__tier-3-container{
                border-top: 1px solid #E6E6F1;
                .navigation__tier-3{
                    .navigation__item{
                        border-bottom: none !important;
                        .navigation__link{
                            padding: 15px 50px !important;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 600;
                            border: none;
                            @media (min-width: 768px){
                                padding: 15px 7% !important;
                            }
                            @media (max-width: 320px){
                                font-size: 14px;
                                padding: 15px 45px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
#NavigationTier2-2.navigation__tier-2-container{
    .container{
        padding: 0;
        .navigation__tier-2{
            display: flex;
            .navigation__item{
                flex-basis: 100%;
                // padding: 40px 0 0 0;
                .navigation__link{
                    display: flex;
                    flex-direction: column !important;
                    margin: 0 auto;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        margin: auto;
                    }
                }
            }
        }
    }
}
.featured_blocks_container.navigation__columns{
    flex-wrap: nowrap !important;
    overflow: auto;
    margin: 0 !important;
    padding-top: 60px !important;
    &::before{
        top: 30px !important;
    }
    &.smaller-list{
        .slick-list {
            width: 100%;
            .slick-track{
                width: 100%;
                margin-top: 30px;
                .navigation__item{
                    width: calc(100% / 7);
                    .navigation__link{
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
    &.larger-list{
        .slick-track{
            margin-top: 30px;
        }
    }
    .navigation__link{
        max-width: 130px;
    }
    @media (max-width: 1199px){
        padding: 82px 20px 20px 20px !important;
        gap: 20px;
        &:before{
            top: 0 !important;
        }
        .navigation__item{
            padding: 0 !important;
            margin: auto;
            border-bottom: 0 !important;
            .navigation__link{
                height: auto !important;
                img{
                    width: 148px !important;
                    height: 100%;
                    object-fit: cover;
                }
                .navbar_collection_link{
                    margin: 4px 0 0 0;
                    justify-content: flex-start;
                }
            }
        }
    }
    &.navigation__tier-2{
        @media (min-width: 768px) and (max-width: 1199px){
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr !important;
        }
        @media (max-width: 767px){
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;
            max-height: 21rem;
            overflow: auto;
            &.show-only-this-block{
                max-height: unset;
            }
        }
    }
    @media(min-width:1200px){
        & .slick-list {
            margin: 0 50px; 
        }
    }
    .slick-header-prev{
        left: 0;
    }
    .slick-header-next{
        right: 0;
    }    
    .slick-header-prev, .slick-header-next{
        background: unset;
        z-index: 2;
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #D6D6D6;
        position: absolute;
        top: 40%;
        svg{
            fill: #6EC59F !important;
            width: 10px;
            height: 10px;            
        }
    }
    
}
#NavigationTier2-2 .container, #NavigationTier2-2-mob .container{
    .view_all_brands{
        color: #9792e4 !important;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 40px;
        @media (max-width: 1199px){
            display: block;
            text-align: center;
        }
        svg{
            position: relative;
            margin-top: 5px;
            right: -7px;
            path{
                fill: #9792e4;
            }
        }
    }
}
#NavigationTier2-2-mob .container .navigation__tier-2{
    position: relative;
    &.navigation__columns{
        &::before{
            content: attr(data-title);
            position: absolute;
            left: 0px;
            font-weight: 700;
            font-size: 20px;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            line-height: 45px;
            color: #000;
            padding: 20px;
        }
    }
    &:nth-child(2){
         padding-top: 70px;
         margin-top: 25px;
        border-top: 1px solid #E6E6F1;
         &::before{
            top: 0;
         }
    }
}
#NavigationTier2-2 .container .navigation__tier-2{
    position: relative;
    &.navigation__columns{
        margin: 0 !important;
        .navigation__column{
            max-width: 100% !important;
        }
        &::before{
            content: attr(data-title);
            position: absolute;
            left: 0;
            top: -30px;
            font-weight: 700;
            font-size: 20px;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            line-height: 45px;
        }
    }
    &:nth-child(2){
        justify-content: flex-start !important;
        .navigation__item .navigation__link{
            margin: 0 !important;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        .navigation__column{
            max-width: calc(100% / 6) !important;
            margin-bottom: 36px;
            padding-left: 0 !important;
        }
        .navigation__tier-3{
            .navigation__item{
                padding: 0 !important;
                .navigation__link{
                    margin: 0;
                }
            }
            
        }
    }
}