.image_carousel_section{
    .image_carousel_container{
        margin: 60px 0 110px 0;
        .image_carousel_div{
            display: flex !important;
            .slick-track{
                .carousel_image_slide{
                    margin: 0 20px;
                    .carousel_image{
                        object-fit: cover;
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }
    }
}

