.collection_banner_wrapper{
    .new_brand_banner_container{
        display: flex;
        flex-direction: column ;
        position: relative;
        .banner_image{
            min-height: 280px;
            @media(min-width: 768px) and (max-width: 1023px){
                min-height: 389px;
            }
        }
        .banner_image_mobile{
            min-height: 389px;
            @media(min-width: 767px){
                display: none;
            }
        }
        
        .logo_area .logo_image{
            border: 4px solid #FFFFFF;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            position: absolute;
            top: 30%;
            left: 3%;
            @media(max-width: 1023px){
                position: relative;
                top: -125px;
                left: 0;
                margin: auto;
                display: block;
            }
        }
        .new_brand_description{
            display: flex;
            max-width: 75%;
            margin: 30px auto 60px;
            .description_text{
                margin-left: 15%;
                h1{
                    font-size: 24px;
                    font-weight: 800;
                }
                p{
                    color: #000;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .banner_buttons{
                display: flex;
                margin-top: 35px;
                .brand_learn_more_btn{
                    border-radius: 30px;
                    width: 166px;
                    height: 46px;
                    font-weight: bold;
                    a{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    &:hover{
                        background: #000 !important;
                    }
                }
                .brand_video_btn{
                    border-radius: 30px;
                    width: 150px;
                    height: 46px;
                    background: transparent;
                    font-size: 16px;
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    &:hover{
                        background: #000;
                        color: #fff !important;
                        border: #000 !important;
                    }
                }
            }
            @media(max-width: 1023px){
                max-width: 100%;
                margin: -100px 40px 40px 20px;
                .description_text{
                    margin-left: 0;
                }
                .banner_buttons{
                    justify-content: space-evenly;
                }
            }
            @media (min-width: 1024px) and (max-width: 1300px){
                max-width: 85%;
                .description_text{
                    margin-left: 25%;
                }
            }
        }
    }
}
.popup_overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    z-index:99;
    .play_overlay_popup{
        position: relative;
        margin: auto;
        width: 90%;
        transform: translateY(25%);
        height: 70%;
        .video_popup{
            max-width: 1600px;
            margin: auto;
            height: 100%;
            position: relative;
            video{
                margin: auto;
                height: 100%;
                object-fit: cover;
                transition: all ease-in .4s;
            }
            svg{
                width: 10%;
                height: 15%;
                position: absolute;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                margin: auto;
                background-size: contain;
                background-position: center;
                cursor: pointer;
            }
            }
        }
        
        
        .close_icon{
            text-align: center;
            svg{
                width: 50px;
                height: 50px;
                margin-top: 25px;
                cursor: pointer;
            }
        }
        
        @media (max-width: 767px){
            width: 100%;
            top: 15%;
            height: 240px;
        }
    }
#shopify-section-template--15743870271643__main .utility-bar{
    padding: 38px 0;
}