.reset_container{
    margin: 80px auto !important;
    .template_header{
        .note{
            text-align: center;
        }
    }
    .action_bottom{
        text-align: center;
        button{
            border-radius: 30px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    @media (max-width: 767px){
        padding: 0 20px;
        .action_bottom{
            button{
                font-size: 16px;
            }
        }
    }
}