.product-drawer-summary__close{
    z-index: 1;
}
.vape_product_wrapper{
    margin-top: 20px;
    .product_images{
        display: flex;
        overflow-x: auto;
        padding: 0 !important;
        gap: 7px;
        margin-left: 24px;
        margin-top: 55px;
        img{
            max-width: 65% !important;
            border-radius: 0 !important;
        }
    }
    .vape_product_container{
        padding: 10px 24px 24px 24px;
        
        .vape_product_title{
            font-size: 42px;
            font-weight: 800;
            color: #000;
            @media (max-width: 767px){
                font-size: 24px;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                font-size: 28px;
            }
        }
        .vape_product_varient_pack{
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
        .vape_product_vendor{
            font-size: 18px;
            font-weight: 600;
            color: #000;
            a{
                color: #9792E4;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .vape_product_description{
            font-size: 16px;
            font-weight: 400;
            color: #000;
        }
        .product-detail {
            .product-column-right{
                width: 100% !important;
                max-width: 100% !important;
                margin-inline-start: 0;
            }
            .buy-buttons-row{
                margin-top: 0 !important;
                form .input-row{
                    margin: 0 !important;
                }
                .quantity-submit-row__submit{
                    margin-bottom: 15px !important;
                }
                .option-selector{
                    .label{
                        font-size: 16px;
                        font-weight: 400;
                        color: #000;
                        text-transform: uppercase;
                    }
                    .cc-select__btn{
                        border: 2px solid #000;
                        border-radius: 32px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                    }
                }
                .option-selector__btns{
                    .opt-label{
                        border-radius: 60px;
                        border: 2px solid #d9d9da;
                        padding: 14px 28px;
                        .opt-label__text{
                            font-size: 16px;
                            font-weight: 600;
                            color: #000;
                        }
                    }
                    .opt-btn:checked+.opt-label{
                        border: 2.4px solid #000;
                    }
                }
                .quantity-submit-row__submit{
                    .button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 60px;
                        font-size: 22px;
                        font-weight: 700;
                        .price-container{
                            margin-bottom: 0;
                            .current-price{
                                font-size: 22px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                
            }
        }
        .product_page_redirection_link{
            color: #9792E4;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            justify-content: center;
        }
    }
}